.User {
  padding: 10px;
  border: 1px solid aqua;
}

.User.bgWarning {
  background-color: yellow;
}

.User__index {
  text-decoration: underline;
  font-style: bold;
}

.User__name {
  font-style: italic;
}

.User__label {
  font-weight: bold;
}
